.card {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    text-align: left;
}

.iconContainer {
    width: 64px;
    height: 64px;
    border: 1px dashed rgba(252, 252, 252, 0.65);
    background-color: rgba(255, 255, 255, 0.05);
    /* grayish overlay */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.icon {
    font-size: 1.75rem;
    color: #ff7a00;
    flex-shrink: 0;
}

.content {
    gap: .5rem;
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 0.25rem;
    color: white;
}

.description {
    font-size: 0.95rem;
    color: #ccc;
    line-height: 1.4;
}