.teamSection {
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 4rem;
}

.parallaxBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 130%;
    /* taller than 100% to support scrolling movement */
    background-image: url('../../assets/parallax.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
}

.container {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 0rem 4rem;
}

.overlayContent {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    background-color: #060b13;
    padding: 2rem;
    border: 2px solid #ff7a00;
}

.teamDivider {
    color: white;
}

.title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: white;


    font-family: var(--font-bebas);
    font-size: 2.5rem;
    letter-spacing: .1rem;
}

.description {
    font-size: 1rem;
    color: #e0e0e0;
    line-height: 1.6;
}

@media (max-width: 768px) {
    .teamSection {
        align-items: flex-start;
        /* move content to the top */
        justify-content: center;
        /* center horizontally */
        padding: 2rem;
        /* reduce padding */
    }

    .container {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding: 0rem 2rem;
    }

    .overlayContent {
        margin-top: 2rem;
        /* push it down a bit from top */
        width: 100%;
        max-width: none;
        padding: 1.5rem;
    }

    .title {
        font-size: 1.5rem;
    }

    .description {
        font-size: 0.95rem;
    }
}